@model Sabores.Models.Reservaciones

@{
    ViewData["Title"] = "Create";
}
<input class="btn btn-light" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
<h2>Agregar una nueva reservacion</h2>

<h4>Reservaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reserva" class="control-label"></label>
                <input asp-for="Reserva" class="form-control" />
                <span asp-validation-for="Reserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurante" class="control-label"></label>
                <input asp-for="Restaurante" class="form-control" />
                <span asp-validation-for="Restaurante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesas" class="control-label"></label>
                <input asp-for="Mesas" class="form-control" />
                <span asp-validation-for="Mesas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
