@model Sabores.Models.Reservas

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Restaurante">Seleccione restaurante</label>
                <select asp-for="Restaurante" class="form-control" id="Restaurante">
                    <option>Alajuela</option>
                    <option>Siquirres</option>
                    <option>San Pedro</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Actividad">Seleccione el tipo de actividad</label>
                <select asp-for="Actividad" class="form-control" id="TipoMesa">
                    <option>Almorzar</option>
                    <option>Cenar</option>
                    <option>Fiesta</option>
                    <option>Planeación de bodas</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TipoMesa">Seleccione el tipo de mesa</label>
                <select asp-for="TipoMesa" class="form-control" id="TipoMesa">
                    <option>Vista al jardín</option>
                    <option>Segundo piso</option>
                    <option>Adentro</option>
                </select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Disponibilidad" /> @Html.DisplayNameFor(model => model.Disponibilidad)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personas" class="control-label"></label>
                <input asp-for="Personas" class="form-control" />
                <span asp-validation-for="Personas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="datetime-local" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

