
@{
    ViewData["Title"] = "Ayuda";
}

<h2>Ayuda</h2>
<p>
    <b>¿Cómo puedo iniciar sesión?</b> Debes ubicarte en la parte superior derecha del menu en que se despliega un formulario,
    para que te registres de forma gratuita.
</p>
<p>
    <b>¿Cómo puedo dar uso de un servicio?</b> Primeramente debes tener una cuenta en la plataforma,
    posterior ello ya puedes solicitar alguno de nuestros servicios, como reservación de una mesa, una actividad,
    menú semanal, cursos de cocina de diferentes lugares del mundo, aprovecha ahora y conviertete en un experto.
</p>
<p>
    <b>¿Donde puedo ver el costo de los servicios?</b> Puedes ir a la sección de Servicios, la cual te mostrará una vista previa ,
    de cada uno los servicios, con precios de oportunidad, y realizar el pago del servicio que deseas, debes iniciar sesión.
</p>
<p>
    <b>¿Cómo sería el medio de pago de un servicio?</b> Los pagos los puede realizar por medio de tarjetas de débito, crédito,
    posterior a la elección de su servicio se le mostrará una ventana solicitando los datos para realizar el pago respectivo.
</p>
<p>
    <b>¿Cómo me comunico con uno de los restaurantes?</b> La información respectiva de cada restaurante la puede encontrar en la página principal,
    donde están los datos de números telefónicos, WhatsApp, en que puede realizar sus peticiones de manera directa, y un correo electrónico,
    en el que puedes adjuntar información significativa.
</p>
