<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a asp-controller="Menus" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Menu</a>

            <li class="nav-item">
                <a asp-controller="Restaurantes" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Restaurantes</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Cursos" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Cursos</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Reservaciones" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Reservaciones</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>