@using Sabores.Helper
@using System.Security.Claims;
@using System.Security.Principal;
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            <li class="nav-item">
                <a asp-controller="Restaurantes" asp-action="Index"><span class="glyphicon glyphicon-home"></span> Restaurantes</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Menus" asp-action="Index"><span class="glyphicon glyphicon-book"></span> Menu</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Cursos" asp-action="Index"><span class="glyphicon glyphicon-play"></span> Cursos</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Reservaciones" asp-action="Index"><span class="glyphicon glyphicon-dashboard"></span> Reservaciones</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
   
        <p class="card-text">Sesión autorizada como administrador: @SessionHelper.GetName(User) </p>
    </div>
</div>