
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            <li class="nav-item">
                <a class="text-danger"asp-controller="Restaurantes" asp-action="Cliente"><span class="glyphicon glyphicon-home"></span> Restaurantes</a>
            </li>
            <li class="nav-item">
                <a class="text-danger"asp-controller="Menus" asp-action="Cliente"><span class="glyphicon glyphicon-book"></span> Menu</a>
            </li>
            <li class="nav-item">
                <a class="text-danger"asp-controller="Cursos" asp-action="Cliente"><span class="glyphicon glyphicon-play"></span> Cursos</a>
            </li>
            <li class="nav-item">
                <a class="text-danger"asp-controller="Reservas" asp-action="Reservas"><span class="glyphicon glyphicon-dashboard"></span> Reservaciones</a>
            </li>
        </ul>
    </div>

</div>